html,
body {
    height: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    color: #000000;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main-page {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    max-width: 1360px;
    width: 100%;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}

header {
    margin-top: 34px;
    margin-bottom: 58px;
    display: flex;
}

.logo-title {
    font-weight: 500;
    font-size: 12px;
    margin-left: 18px;
    width: 125px;
    max-width: 100%;
}

.baner-content {

    max-width: 100%;
    width: 520px;
    background: #FFF;
    padding: 60px 0 0 56px;
}

h3,
h2,
h1 {
    font-weight: 600;
    color: #1B1D1F;
}

h3 {
    font-size: 16px;
}

h2 {
    font-size: 24px;
    color: #FF6B0A;
    margin: 16px 0 48px 0;
}

h1 {
    font-size: 64px;
}

.subtitle {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 48px 0;
}

.btn {
    padding: 12px 24px;
    width: 172px;
    color: #FFF;
    background: #FF6B0A;
    border-radius: 8px;
    border: none;
    margin-bottom: 60px;
    cursor: pointer;
}

.baner-img {
    position: absolute;
    right: 0;
    top: 0;
}

.main-content {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-content .subtitle {
    max-width: 875px;
}

.main-content__title {
    font-weight: 600;
    font-size: 48px;
    margin: 16px 0;
}

.facts {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 22px 0;
}

.fact {
    max-width: 280px;
}

.footer {
    padding-bottom: 72px;
}

.footer-content {
    padding-top: 72px;
    background: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
}

.modal-bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31/70%);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.modal-form-container{
    position: relative;
    padding: 32px 92px 60px 92px;
    background: #fff;
}
.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-form__title {
    font-weight: 600;
font-size: 24px;
margin: 32px 0 12px 0;
}
.modal-form__subtitle {
 margin: 0;   

}
.modal-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.modal-field-name {
    font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 8px;
}
.modal-field-input {
    width: 374px;
height: 48px;
background: #FFFFFF;
border: 1px solid #005BBB;
border-radius: 8px;
font-weight: 400;
font-size: 16px;
padding: 4px 8px;
}
.modal-btn {
margin: 40px 0 0 0;
}
.close-btn {
position: absolute;
right: 20px;
top: 20px;
color: #1B1D1F;
border: 0;
background: none;
font-size: 20px;
cursor: pointer;
}
.modal-active {
    opacity: 1;
    pointer-events: all;
}